# Node & pnpm
node_modules/
pnpm-lock.yaml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build / Cache
dist/
.env
.env.local
.env.*.local
.husky/_

# Testing
coverage/
.nyc_output/
*.tsbuildinfo

# IDE/Editor
.idea/
*.swp
*.swo

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Others
turbo/

# Prisma
**/prisma/dev.db
**/prisma/generated/
**/prisma/migrations/