@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-dark: var(--dark);
  --color-dark-2: var(--dark-2);
  --color-dark-3: var(--dark-3);
  --color-dark-4: var(--dark-4);
  --color-dark-5: var(--dark-5);
  --color-primary-electric-blue: var(--primary-electric-blue);
  --color-electric-blue: var(--electric-blue);
  --color-fiery-orange: var(--fiery-orange);
  --color-neon-green: #00ff7f;
  --color-deep-blue: var(--deep-blue);
  --color-silver: var(--silver);
  --color-b-black: var(--b-black);
  --color-vibrant-purple: var(--vibrant-purple);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --font-inter: var(--font-inter);
  --font-jetbrains: var(--font-jetbrains);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-input:
    0px 2px 3px -1px rgb(0 0 0 / 10%), 0px 1px 0px 0px rgb(25 28 33 / 2%),
    0px 0px 0px 1px rgb(25 28 33 / 8%);
}

:root {
  --dark: #111113;
  --dark-2: #18191b;
  --dark-3: #272a2d;
  --dark-4: #1a1a1b;
  --dark-5: #1e1f21;
  --primary-electric-blue: #279ceb;
  --electric-blue: #007bff;
  --fiery-orange: #ff4500;
  --neon-green: #00ff7f;
  --deep-blue: #036;
  --silver: #c0c0c0;
  --b-black: #121212;
  --vibrant-purple: #8a2be2;
  --radius: 0.625rem;
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(14.5% 0 0deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(14.5% 0 0deg);
  --primary: oklch(20.5% 0 0deg);
  --primary-foreground: oklch(98.5% 0 0deg);
  --secondary: oklch(97% 0 0deg);
  --secondary-foreground: oklch(20.5% 0 0deg);
  --muted: oklch(97% 0 0deg);
  --muted-foreground: oklch(55.6% 0 0deg);
  --accent: oklch(97% 0 0deg);
  --accent-foreground: oklch(20.5% 0 0deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --border: oklch(92.2% 0 0deg);
  --input: oklch(92.2% 0 0deg);
  --ring: oklch(70.8% 0 0deg);
  --chart-1: oklch(64.6% 0.222 41.116deg);
  --chart-2: oklch(60% 0.118 184.704deg);
  --chart-3: oklch(39.8% 0.07 227.392deg);
  --chart-4: oklch(82.8% 0.189 84.429deg);
  --chart-5: oklch(76.9% 0.188 70.08deg);
  --sidebar: oklch(98.5% 0 0deg);
  --sidebar-foreground: oklch(14.5% 0 0deg);
  --sidebar-primary: oklch(20.5% 0 0deg);
  --sidebar-primary-foreground: oklch(98.5% 0 0deg);
  --sidebar-accent: oklch(97% 0 0deg);
  --sidebar-accent-foreground: oklch(20.5% 0 0deg);
  --sidebar-border: oklch(92.2% 0 0deg);
  --sidebar-ring: oklch(70.8% 0 0deg);
  --background: oklch(100% 0 0deg);
  --foreground: oklch(14.5% 0 0deg);
}

.dark {
  --dark: #111113;
  --dark-2: #18191b;
  --dark-3: #272a2d;
  --dark-4: #1a1a1b;
  --dark-5: #1e1f21;
  --primary-electric-blue: #279ceb;
  --electric-blue: #007bff;
  --fiery-orange: #ff4500;
  --neon-green: #00ff7f;
  --deep-blue: #036;
  --silver: #c0c0c0;
  --b-black: #121212;
  --vibrant-purple: #8a2be2;
  --background: oklch(14.5% 0 0deg);
  --foreground: oklch(98.5% 0 0deg);
  --card: oklch(20.5% 0 0deg);
  --card-foreground: oklch(98.5% 0 0deg);
  --popover: oklch(20.5% 0 0deg);
  --popover-foreground: oklch(98.5% 0 0deg);
  --primary: oklch(92.2% 0 0deg);
  --primary-foreground: oklch(20.5% 0 0deg);
  --secondary: oklch(26.9% 0 0deg);
  --secondary-foreground: oklch(98.5% 0 0deg);
  --muted: oklch(26.9% 0 0deg);
  --muted-foreground: oklch(70.8% 0 0deg);
  --accent: oklch(26.9% 0 0deg);
  --accent-foreground: oklch(98.5% 0 0deg);
  --destructive: oklch(70.4% 0.191 22.216deg);
  --border: oklch(100% 0 0deg / 10%);
  --input: oklch(100% 0 0deg / 15%);
  --ring: oklch(55.6% 0 0deg);
  --chart-1: oklch(48.8% 0.243 264.376deg);
  --chart-2: oklch(69.6% 0.17 162.48deg);
  --chart-3: oklch(76.9% 0.188 70.08deg);
  --chart-4: oklch(62.7% 0.265 303.9deg);
  --chart-5: oklch(64.5% 0.246 16.439deg);
  --sidebar: oklch(20.5% 0 0deg);
  --sidebar-foreground: oklch(98.5% 0 0deg);
  --sidebar-primary: oklch(48.8% 0.243 264.376deg);
  --sidebar-primary-foreground: oklch(98.5% 0 0deg);
  --sidebar-accent: oklch(26.9% 0 0deg);
  --sidebar-accent-foreground: oklch(98.5% 0 0deg);
  --sidebar-border: oklch(100% 0 0deg / 10%);
  --sidebar-ring: oklch(55.6% 0 0deg);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .box-hover {
    @apply hover:bg-dark-2 hover:text-gray-200 transition-all delay-150 ease-in-out;
  }

  .box-hover-2 {
    @apply hover:bg-neutral-100 hover:text-neutral-600 dark:hover:bg-neutral-200/6 dark:hover:text-neutral-200 transition-all duration-100 ease-in-out delay-75;
  }

  .filter-btn {
    @apply flex items-center w-fit gap-1 font-medium px-2.5 py-1.5 dark:bg-dark/50 bg-background text-neutral-500/90 text-xs dark:text-neutral-300/70 border border-dashed dark:border-neutral-700/90 border-neutral-400/55 rounded transition-all duration-100 ease-in-out delay-75 cursor-pointer;
  }

  .filter-btn-hover {
    @apply hover:text-neutral-600 dark:hover:text-neutral-300/80 dark:hover:bg-white/1 dark:hover:brightness-110;
  }

  .item-hover {
    @apply hover:text-neutral-700 dark:hover:text-neutral-300 hover:bg-neutral-200/50 dark:hover:bg-neutral-200/7;
  }

  .success-color {
    @apply text-teal-500 bg-teal-100 border-teal-200 dark:text-teal-500 dark:bg-teal-900/70 dark:border-teal-900/80 backdrop-blur-md;
  }

  .danger-color {
    @apply text-red-500 bg-red-100 border-red-200 dark:text-red-500 dark:bg-red-900/70 dark:border-red-900/80 backdrop-blur-md;
  }

  .warning-color {
    @apply text-yellow-500 bg-yellow-100 border-yellow-200 dark:text-yellow-500 dark:bg-yellow-900/70 dark:border-yellow-900/80 backdrop-blur-md;
  }
}
